*.py[cod]
# C extensions
*.so
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
#lib
lib64
__pycache__
# Installer logs
pip-log.txt
# Unit test / coverage reports
.coverage
.tox
nosetests.xml
# Translations
*.mo
# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.DS_Store
# log
logs/
log/
*.log
.settings/
tmp/
*.swp
*.swo
*.pyc
.idea
venv/
.env/
*.pid
media
static_coll/
#startpro list file
.scripts.tmp
migrations
settings_dev.py
settings_prod.py
test.py
test.txt
test/
WORK/
result_file/
db.sqlite3
data.csv
apps/meeting/uploads/
db.sqlite3
static/
